@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
    font-family: 'Indie Flower', cursive;
    background: linear-gradient(120deg, #f54bab, #ff3333); /* Degradado de rosa a rojo */
    margin: 0;
    padding: 0;
}

::selection {
    background: transparent;
}
h1 {
    font-size: 136px; /* Ajuste el tamaño de la fuente del h4 */
    font-family: 'Amatic SC', cursive;
    margin: 0;
}

h4 {
    font-size: 36px; /* Ajuste el tamaño de la fuente del h4 */
    font-family: 'Amatic SC', cursive;
    margin: 0;
    
}


.color1 {
    color: #e5f13f;
}

.color2 {
    color: #C0392B;
}

.card {
    color: #f385f5;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px; /* Ajuste el ancho de la tarjeta */
    height: 1000px; /* Ajuste la altura de la tarjeta */
    background: #e0e1dc;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 600px 0 50px rgba(0, 0, 0, .5), 20px 0 60px rgba(0, 0, 0, .5);
    transition: 1s;
}

.card:hover {
    transform: translate(-50%, -50%) perspective(2000px) rotate(15deg) scale(1.2);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 10px 100px rgba(0, 0, 0, .5);
}

.card:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #3c3c3c;
    transform-origin: bottom;
    transform: skewX(-45deg);
}

.card:after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #565656;
    transform-origin: left;
    transform: skewY(-45deg);
}

.card .imgBox {
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: .7s;
}

.card .bark {
    position: absolute;
    background:  #3c3c3c;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .7s;
    box-shadow: 600px 400px 100px rgba(0, 0, 0, .4) inset;
}

.card .imgBox img {
    min-width: 800px; /* Ajuste el ancho mínimo de la imagen */
    max-height: 1000px; /* Ajuste la altura máxima de la imagen */
}

.card:hover .imgBox {
    transform: rotateY(-135deg);
}

.card:hover .bark {
    opacity: 1;
    transition: .6s;
}

.card .details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: -1;
    width: 560px;
    height: 740px;
}

.card .details p {
    font-size: 25px;
    line-height: 30px;
    padding: 0 20px;
    text-align: justify;
}

.card .details h4 {
    font-size: 42px;
}

.text-right {
    text-align: right;
}

/* Estilos para las imágenes */
.small-image {
    width: 265px; /* Tamaño deseado para las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    margin-right: 2px; /* Espacio entre las imágenes */
}

/* Estilo para el contenedor de imágenes */
.imgBox {
    display: flex; /* Usar flexbox para alinear las imágenes */
}

/* Estilos para la primera imagen */
.imgBox img:first-child {
    width: 50%; /* Ocupa la mitad del contenedor */
}

/* Estilos para la segunda imagen */
.imgBox img:last-child {
    width: 50%; /* Ocupa la mitad del contenedor */
}

  /* Estilos para la imagen de la parte trasera */
  .back-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* Estilos para el confeti */
@keyframes fall {
    0% {
        transform: translateY(-100vh) rotate(0deg);
    } /* Comienzo fuera de la pantalla */
    100% {
        transform: translateY(100vh) rotate(360deg);
    } /* Caída hasta la parte inferior y rotación completa */
}

.confetti {
    position: absolute;
    width: 130px; /* Ancho del confeti */
    height: 130px; /* Altura del confeti */
    background-image: url('img/hisie12.png'); /* Ruta a la imagen de confeti */
    background-size: cover;
    animation: fall 5s linear infinite; /* Animación de caída */
}

/* Configuración de varias piezas de confeti */
.confetti:nth-child(1) {
    left: 1%; /* Posición de la segunda pieza */
    animation-delay: 0s; /* Retraso de animación para que caigan en diferentes momentos */
}
.confetti:nth-child(2) {
    left: 10%; /* Posición de la segunda pieza */
    animation-delay: 0.5s; /* Retraso de animación para que caigan en diferentes momentos */
}

.confetti:nth-child(3) {
    left: 20%; /* Posición de la tercera pieza */
    animation-delay: 1s; /* Retraso de animación */
}
.confetti:nth-child(4) {
    left: 40%; /* Posición de la tercera pieza */
    animation-delay: 1.5s; /* Retraso de animación */
}
.confetti:nth-child(5) {
    left: 50%; /* Posición de la tercera pieza */
    animation-delay: 2s; /* Retraso de animación */
}
.confetti:nth-child(6) {
    left: 60%; /* Posición de la tercera pieza */
    animation-delay: 2.5s; /* Retraso de animación */
}
.confetti:nth-child(7) {
    left: 70%; /* Posición de la tercera pieza */
    animation-delay: 3s; /* Retraso de animación */
}
.confetti:nth-child(8) {
    left: 80%; /* Posición de la tercera pieza */
    animation-delay: 3.5s; /* Retraso de animación */
}
.confetti:nth-child(9) {
    left: 90%; /* Posición de la tercera pieza */
    animation-delay: 4s; /* Retraso de animación */
}

/* Agrega más reglas .confetti para más piezas */
